{% extends "base.html" %}

{% load static %}

{% block title %}
   Acerca de 
{% endblock title %}

{% block content %}
   <section class="page-section about-heading">
       <div class="container">
           <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'pages/img/about.jpg' %}" alt="Local">
           <div class="about-heading-content">
               <div class="row">
                   <div class="col-xl-9 col-lg-10 mx-auto">
                       <div class="bg-faded rounded p-5">
                           <h2 class="section-heading mb-4">
                              <span class="section-heading-upper">Tradicion familiar Italiana</span>
                              <span class="section-heading-lower">Nuestra historia</span>
                            </h2>
                            <p>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                            </p>
                            <p>
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.

                            </p>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
{% endblock content %}
