{% extends "base.html" %}

{% load static %}

{% block title %}
   Home 
{% endblock title %}

{% block content %}
   <!-- Cabecera --> 
   <section class="page-section clearfix">
       <div class="container">
           <div class="intro">
               <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'pages/img/intro.jpg' %}" alt="portada">
               <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                   <h2 class="section-heading mb-4">
                       <span class="section-heading-upper">Dejate sorprender</span>
                       <span class="section-heading-lower">Te gustara</span>
                   </h2>
                   <p class="mb-3">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
                   </p>
                   <div class="intro-button mx-auto">
                       <a class="btn btn-primary btn-xl" href="{% url 'timetable_url' %}">Visitanos</a>
                   </div>
               </div>
           </div>
       </div>
   </section>

   <!-- Mensaje -->
   <section class="page-section cta">
       <div class="container">
           <div class="row">
               <div class="col-xl-9 mx-auto">
                   <div class="cta-inner tex-center rounded">
                       <h2 class="section-heading mb-4">
                           <span class="section-heading-upper">Comporimiso total</span>
                           <span class="section-heading-lower">Garantizado</span>
                       </h2>
                       <p class="mb-0">
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                       </p>
                   </div>
               </div>
           </div>
       </div>
   </section>
{% endblock content %}
